html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #ffffff;
}

h1 {
  
  text-align: center;
  font-family: 'Times New Roman', 'Times New Roman', Times, serif
   
}
label {
    color: white;
    text-align: centre;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif
}
p {

  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1baf38;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}


li a:hover {
  background-color: #000000;
}



body {
    font-family: Arial, sans-serif;
}
#calendar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
#calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #333;
}
#calendar-body div {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}
.change-month {
    cursor: pointer;
}

